// Bootstrap
@import "enrichmond-variables";
@import "bootstrap";
@import "bootstrap-select.min.css";
@import "bootstrap-toggle.min.css";
// @import "enrichmond-bootstrap";

body {
	padding-top: 70px;
}

// Nav Bar

.navbar-fixed-top {
	border-bottom: solid 1px lighten($gray-base,80%);
	.navbar-collapse {
		margin-right: 40px;
	}
}

.navbar {
	font-size: 13px;
	.container {
		position: relative;
	}
	li.active a {
		font-weight:500;
	}
	a {
		text-transform: uppercase;
		font-weight:300;
		&:hover {
			font-weight:500;
		}
	}
	.navbar-form {
		padding:0;
		margin:0;
		position: absolute;
		top:17px;
		right:80px;
	}

	#search-form { 
		display: none; 
		float: left;
		margin-right: 10px;
	}
	#search-button {
		    position: relative;
		    color: $gray;
	}
	#search-button.show .glyphicon-search:before {
		content:"\e014";
	}

}

// Page Content

.page-header {
	margin: 0;
	padding: 0;
	border: 0;
}
.page-content .container {
	padding: 10px 40px;
	background: #fff;
	border: 0;
}
.page-hero ~ .page-content .container {
	//top: -9.5em;
	top: -15vw;
	position: relative;
}
.page-hero {
	margin: auto -20px;
	overflow: hidden;
	position: relative;
	max-height: 500px;
	text-align: center;
	&:before {
    display: block;
    content: "";
    width: 100%;
    //padding-top: (400 / 900) * 100%;
  	}
	img {
		max-width: 100%;
		//max-height: 100%;
		margin: 0 auto;
	}
}

@media	(max-width: $screen-sm) {

	.page-hero {
		&:before {
	    display: none;
	  	}
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;
			left: 0;
			top: 0;
			transform: none;
		}
	}

	.page-content .container {
		top: 0 !important;
		position: static;

	}

}


@media	(max-width: $screen-xs) {
	.navbar { 
		background: #f00; 
	}
	.page-hero {
		&:before {
	    padding-top:0;
	  	}
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;
			left: 0;
			top: 0;
			transform: none;
		}
	}

}


.page-footer {
	padding: 40px;
	background-color: #fcf9ef;
	color: $gray-light;
}

// Misc

.carousel h3 {
	color: #fff;
}
