// Bootstrap
@import "enrichmond-variables";
@import "bootstrap";
@import "bootstrap-select.min.css";
@import "bootstrap-toggle.min.css";
// @import "enrichmond-bootstrap";

// Global Styles

body {
	padding-top: 70px;
}

h2,h3,h4,h5,h6 {
	font-family: $font-family-sans-serif;
	font-weight: bold;
}
.alignright {
	float: right;
	margin: ($padding-base-vertical*2) ($padding-base-horizontal*2);
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Nav Bar

.navbar-fixed-top {
	border-bottom: solid 1px lighten($gray-base,80%);
	.navbar-collapse {
		margin-right: 40px;
	}
}

.navbar {
	font-size: 13px;
	.container {
		position: relative;
	}
	li.active a {
		font-weight:500;
	}
	a {
		text-transform: uppercase;
		font-weight:300;
		&:hover {
			font-weight:500;
		}
	}
	.navbar-form {
		padding:0;
		margin:0;
		position: absolute;
		top:17px;
		right:80px;
	}

	#search-form { 
		display: none; 
		float: left;
		margin-right: 10px;
	}
	#search-button {
		    position: relative;
		    color: $gray;
	}
	#search-button.show .glyphicon-search:before {
		content:"\e014";
	}

}

// Page Content

.page-header {
	margin: 36px 0 0;
	border: 0;
}
.page-content .container {
	background: #fff;
	border: 0;
}
.page-hero ~ .page-content .container {
	//top: -9.5em;
	top: -40vh;
	position: relative;
}
.page-hero {
	overflow: hidden;
	position: relative;
	//max-height: 500px;
	.container-fluid {
		padding: 0;
	}
	&:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (900 / 1600) * 100%;
  	}
	img {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

/* Individual Entry */

.entry-sidebar {
	padding: 0;
	margin: 0;
}
.widget {
	margin-bottom: 20px;
}
.widget-donate {
	padding: 10px 20px;
	background-color: $gray-dark;
	.widget-title {
		color: #fff;
	}
	button:active,
	button:focus {
		background-color: $brand-success;
	}
	input,button {
		width: 70px;
		margin: 0 4px 12px;
	}
	input {
		
	}
}


/* Individual Partner */
.partner-description {
	font-size: 120%;
	color: $gray;
}
.partner-map {
	margin: 2em 0;
}
.gmap {
	height: 250px;
}

/* Cards */

.card {
	display: inline-block;
	max-width: 300px;
	font-size: 15px;
	background: #fff;
	border: solid 1px lighten($gray-base,80%);
	a {
		color: $gray;
		&:hover {
			color: $gray-base;
		}
	}
	margin-bottom: $padding-base-vertical*4;
}
.card-image img {
	max-width: 100%;
}
.card-title {
	text-align: center;
	font-family: $font-family-serif;
	color: $gray;
	padding: $padding-base-vertical $padding-base-horizontal $padding-base-vertical+3;
	p {
		margin: 0;
	}
}

.media {
	display: inline-block;
	background-color: #fff;
	border: solid 1px lighten($gray-base,80%);
	overflow: hidden;
	padding: 10px 10px 3px 10px;
}
.media a {
	color: $gray-light;
	&:hover {
		text-decoration: none;
	}
}
.media-heading {
	font-family: $font-family-serif;
	font-weight: normal;
}
.media-details {
	margin-bottom: 0;
	font-size: 12px;
}

/* Site Footer */

.page-footer {
	font-size: 15px;
	a {
		color: $gray;
		transition: color 0.25s;
		&:hover {
			color: $gray-base;
		}
	}
	h1,h2,h3,h4,h5,p {
		margin:0;
		padding: 0;
	}
	.row:nth-child(2) {
		margin-top: ($padding-base-vertical*6);
	}
	.copyright,
	.note,
	.contact {
		padding-bottom: 12px;
	}
	.navbar-social {
		padding-left: 5px;
		a {
			font-size: 20px;
			padding:4px 12px;
			&:hover {
				background: transparent;
			}
		}
		li {
			display: inline-block;
		}
	}
}

/* MISC */

.style-guide {
	text-align: center;
	font: 16px Monaco,monospace;
	color: $gray-light;
	padding-bottom: 12px;
}


/* Responsive Breakpoints */

@media (min-width:$screen-sm) {
	.page-content {
		padding-right: 20px;
		.container {
			padding: 0;
			padding: 0 0 20px 20px;
		}
	}
	.widget {
		padding: 20px;
		margin-bottom: 0;
	}
	.widget-donate {
		position: relative;
		&:before {
			position: absolute;
			left: -16px;
			top: 40%;
			content: "";
			height: 0;
			width: 0;
			border-top: 18px solid transparent;
		  	border-right: 16px solid $gray-dark;
			border-bottom: 18px solid transparent;
		}
	}
	.entry-sidebar {
		background: #fcf9ef;
	}

	.page-footer .richmond-badge {
		float: right;
	}
}


@media	(max-width: $screen-sm) {
	.page-hero {
		&:before {
	    display: none;
	  	}
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;
			left: 0;
			top: 0;
			transform: none;
		}
	}

	.page-content .container {
		top: 0 !important;
		position: static;

	}
}

@media	(max-width: $screen-xs) {

	.page-hero {
		&:before {
	    padding-top:0;
	  	}
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			position: relative;
			left: 0;
			top: 0;
			transform: none;
		}
	}

}


.page-footer {
	padding: 40px;
	background-color: #fcf9ef;
	color: $gray-light;
}

// Misc

.carousel h3 {
	color: #fff;
}
